@font-face {
    font-family: NTSomic;
    font-weight: 700;
    font-style: normal;
    src: url("/fonts/NTSomic/NTSomic-Bold.otf") format("opentype");
}

@font-face {
    font-family: NTSomic;
    font-weight: 500;
    font-style: normal;
    src: url("/fonts/NTSomic/NTSomic-Medium.otf") format("opentype");
}

@font-face {
    font-family: NTSomic;
    font-weight: 400;
    font-style: normal;
    src: url("/fonts/NTSomic/NTSomic-Regular.otf") format("opentype");
}