@use 'fonts';
@use 'normalize';
@use 'sass:map';
@use 'variables' as *;
@use 'mixins' as *;
@use 'animations' as *;

html {
    font-size: $root-font-size;
    color-scheme: light;
    scrollbar-width: 20px;
    scrollbar-color: $bgColor6 $bgColor4;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;

    ::selection {
        background-color: rgba(225, 220, 220, .8);
    }

    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 20px;
}

html::-webkit-scrollbar-track {
    background-color: $bgColor4;
}

html::-webkit-scrollbar-thumb {
    background-color: $bgColor6;
    border-radius: 10px;
    border: 4px solid $bgColor4;
}

html.off-scroll,
html.off-scroll body {
    position: fixed;
    overflow-y: hidden;
    width: 100%;
}

body {
    background-size: cover;
    overflow-x: hidden;
    font-family: map.get($font-family, 'text');
    color: $bgColor;

    @include font-styles('body');
}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1320px;
    width: 100%;

    @media (max-width: 1399px) {
        max-width: 900px;
    }

    @media (max-width: 1023px) {
        max-width: 100%;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $bgColor;
}

.title {
    font-family: map.get($font-family, 'title');

    &--type_h1 {
        font-family: map.get($font-family, 'title-h1');

        @include font-styles('h1');
    }

    &--type_h2 {

        @include font-styles('h2');
    }

    &--type_h3 {

        @include font-styles('h3');
    }
}

picture {

    img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
}

.icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: auto;

    picture, svg, img {
        width: 100%;
        height: auto;
    }
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    picture, svg, img {
        width: 100%;
        height: auto;
    }
}

.bg-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    z-index: -1;
    display: flex;
    justify-content: stretch;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    pointer-events: none;
    transform: translateX(-50%);
    object-fit: cover;

    picture, svg, img {
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
    }
}

//slider
.swiper-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: auto;
    padding-bottom: 44px;
    position: relative;
}

.swiper {
    display: flex;
    overflow: visible;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.swiper__wrapper.swiper-wrapper {
    display: flex;
    height: auto;
    box-sizing: content-box;
    gap: 0;
}

.swiper__slide.swiper-slide {
    width: auto;
    height: 100%;
    min-height: 100%;
    overflow: visible;
    overflow-y: visible;
}

.swiper__pagination.pagination {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    height: clamp-f(16, 20);
    width: auto;

    .swiper-pagination-bullet {
        margin: clamp-f(4, 6);
        width: clamp-f(6, 8);
        height: clamp-f(6, 8);
        background-color: $bgColor4;
        transition: 0.2s all ease;
        border-radius: 50%;
        opacity: 1;
        position: relative;

        &-active {
            background-color: $bgColor6;
            transform: scale(1.75);
        }
    }
}

.button-next,
.button-prev {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    width: clamp-f(36, 52);
    transition: 0.2s all ease;
    cursor: pointer;
    transform: rotate(180deg);

    svg {
        width: 100%;
        height: auto;
    }

    @include mobile {
        bottom: 0;
    }

    @media (hover: hover) {

        &:hover {

        }
    }

    &:active {
        transform: rotate(180deg) scale(0.9);
    }

    &[disabled='disabled'],
    &:disabled {
        opacity: 0.4;
    }

    &.swiper-button-disabled {
        opacity: 0.4;
    }
}

.button-next {
    right: 0;
    left: unset;
    transform: unset;

    &:active {
        transform: scale(0.9);
    }
}