@use 'fonts';
@use 'normalize';
@use 'sass:map';
@use 'variables' as *;
@use 'mixins' as *;
@use 'animations' as *;

html {
    font-size: $root-font-size;
    color-scheme: light;
    scrollbar-color: $bgColor6 rgba(129, 129, 128, 0.15);
    scrollbar-width: none;
    -webkit-tap-highlight-color: transparent;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;

    ::selection {
        background-color: rgba(225, 220, 220, .8);
    }

    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

html::-webkit-scrollbar-track {
    background-color: rgba(129, 129, 128, 0.15);
}

html::-webkit-scrollbar-thumb {
    background-color: $bgColor6;
    border-radius: 10px;
    border: 4px solid rgba(129, 129, 128, 0.15);
}

html.off-scroll,
html.off-scroll body {
    position: fixed;
    overflow-y: hidden;
    width: 100%;
}

body {
    background-size: cover;
    overflow: hidden;
    font-family: map.get($font-family, 'text');
    color: $bgColor;

    @include font-styles('body');
}

body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1480px;
    width: 100%;
    position: relative;
    z-index: 10;

    @media (max-width: 1399px) {
        max-width: 900px;
    }

    @media (max-width: 1023px) {
        max-width: 100%;
    }
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $bgColor;
}

.title {
    font-family: map.get($font-family, 'title');
    text-align: center;
    width: 100%;

    &--type_h1 {
        font-family: map.get($font-family, 'title-h1');

        @include font-styles('h1');

        @media (orientation: landscape) and (max-width: 992px) {
            font-size: 7vw;
        }
    }

    &--type_h2 {

        @include font-styles('h2');
    }

    &--type_h3 {

        @include font-styles('h3');
    }
}

picture {

    img {
        width: 100%;
        height: auto;
        vertical-align: bottom;
    }
}

.icon-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: auto;

    picture, svg, img {
        width: 100%;
        height: auto;
    }
}

.img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

    picture, svg, img {
        width: 100%;
        height: auto;
    }
}

.bg-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: -1;
    display: flex;
    justify-content: stretch;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    pointer-events: none;
    transform: translateX(-50%);
    object-fit: cover;

    picture, svg, img {
        width: auto;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        object-fit: cover;
    }
}

//slider
.swiper-outer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: auto;
    position: relative;
}

.swiper {
    display: flex;
    overflow: visible;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.swiper .swiper-wrapper {
    display: flex;
    height: auto;
    box-sizing: content-box;
    gap: 0;
}

.swiper__slide.swiper-slide {
    width: auto;
    height: 100%;
    min-height: 100%;
    overflow: visible;
    overflow-y: visible;
    display: flex;
    justify-content: center;
}

.swiper__pagination.pagination {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    height: clamp-f(16, 20);
    width: auto;

    @include mobile {
        display: flex;
    }

    .swiper-pagination-bullet {
        margin: clamp-f(4, 6);
        width: clamp-f(6, 8);
        height: clamp-f(6, 8);
        background-color: $bgColor4;
        transition: 0.2s all ease;
        border-radius: 50%;
        opacity: 1;
        position: relative;

        &-active {
            background-color: $bgColor6;
            transform: scale(1.75);
        }
    }
}

.button-next,
.button-prev {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0;
    appearance: none;
    display: flex;
    position: absolute;
    top: -100px;
    left: 0;
    justify-content: center;
    align-items: center;
    width: clamp-f(36, 52);
    transition: 0.2s all ease;
    cursor: pointer;
    transform: rotate(180deg);
    z-index: 10;

    svg {
        width: 100%;
        height: auto;
    }

    @include hover {
        transform: rotate(180deg) scale(0.9);
    }

    &:active {
        transform: rotate(180deg) scale(0.9);
    }

    &[disabled='disabled'],
    &:disabled {
        opacity: 0.4;
    }

    &.swiper-button-disabled {
        opacity: 0.4;
    }
}

.button-next {
    right: 0;
    left: unset;
    transform: unset;

    @include hover {
        transform: scale(0.9);
    }

    &:active {
        transform: scale(0.9);
    }
}

[data-parallax] {
    position: absolute;
    inset: 0;
    width: auto;
    min-height: 140dvh;
    min-width: 100vw;
    bottom: 10vh;
    top: auto;
    object-fit: cover;
    transform: translateY(var(--parallax-offset, 0px));
    will-change: transform;
    z-index: -1;
}

.wrapper {
    position: relative;
    overflow: hidden;

    &:before {
        content: '';
        position: absolute;
        inset: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.18);
    }

    .bg-image {
        bottom: 0;
        left: 0;
        transform: unset;
        z-index: -1;
        min-width: 100%;
        min-height: 105%;
        width: auto;
        height: auto;
        object-fit: cover;

        @include tablet {
            bottom: -3%;
            left: -200px;
        }

        @include mobile {
            bottom: 0;
            min-height: 100%;
            left: -310px;
        }

        @media (max-width: 500px) {
            left: -250px;
        }

        @media (max-width: 450px) {
            left: -200px;
            bottom: 0;
            min-height: 115%;
        }
    }
}