/*---GRADIENT-TEXT-----------------------------------------------------------------------------------*/

.wrapper-gradient {
  margin: 5px;
  background: black;
  filter: contrast(3);
  border-radius: 2vh;
  border: 2vh solid black;
}

.gradient-text {
  margin: 0;
  mix-blend-mode: difference;
  background: linear-gradient(150deg, #086868 20%, #001439 50%, #30226e 80%);
  animation: letterspacing 1s forwards cubic-bezier(1, 0, 0, 1);
}

.gradient {
  padding: 0;
  background: linear-gradient(150deg, #086868 20%, #001439 50%, #30226e 80%);
  animation: blur 1s forwards;
}

.gradient2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(150deg, rgba(0, 0, 0, 0) 45%, rgba(200, 200, 200, 1) 50%, rgba(0, 0, 0, 0) 55%);
  mix-blend-mode: overlay;
  animation: moving 2s 1s forwards cubic-bezier(1, 0, 0, 1);
  background-size: 250% 100%;
  z-index: 100;
}

@keyframes letterspacing {
  0% {
    letter-spacing: -0.5vh;
  }
  80% {
    letter-spacing: 0.2vh;
  }
  100% {
    letter-spacing: 0.1vh;
  }
}

@keyframes blur {
  0% {
    filter: blur(1.5px);
  }

  100% {
    filter: blur(0.5px);
  }
}

@keyframes moving {
  0% {
    background-position-x: 100%;
  }

  100% {
    background-position-x: 0;
  }
}


/*---SIGNBOARD-----------------------------------------------------------------------------------*/

.sign {
  color: $bgColor2;
  text-shadow: 0 0 0.3rem #ffe6ff, 0 0 1rem #ffae00,
  -0.2rem 0.1rem 1rem #ff9f10, 0.2rem 0.1rem 1rem #ff9f10,
  0 -0.5rem 2rem #ff6a00, 0 0.5rem 3rem #ff6a00;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.3rem #ffe6ff, 0 0 1rem #ffae00,
    -0.2rem 0.1rem 1rem #ff9f10, 0.2rem 0.1rem 1rem #ff9f10,
    0 -0.5rem 2rem #ff6a00, 0 0.5rem 3rem #ff6a00;
  }
  28%,
  33% {
    color: #ff9f10;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff8000;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.3rem #ffe6ff, 0 0 1rem #ffae00,
    -0.2rem 0.1rem 1rem #ff9f10, 0.2rem 0.1rem 1rem #ff9f10,
    0 -0.5rem 2rem #ff6a00, 0 0.5rem 3rem #ff6a00;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}