@mixin container($height, $flex-direction) {
  height: $height;
  flex-direction: $flex-direction;
}

@mixin divs($bgColorDivLeft, $bgColorDivRight) {
  .leftDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bgColorDivLeft;
    height: 100%;
    flex: 0 0 30%;
    text-align: center;
    @media (min-width: 1200px) {
      justify-content: flex-start;
    }
  }

  .rightDiv {
    background: $bgColorDivRight;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 70%;
  }
}

@mixin font-size1 {
  font-size: 2.5vh;
  div span {
    font-size: 18px;
  }
  h2 {
    font-size: 5.5vh;
  }

  @media (max-height: 320px) {
    font-size: 3.5vh;
    div span {
      font-size: 16px;
    }
    h2 {
      font-size: 5vh;
    }
  }

  @media (min-width: 600px) {
    font-size: 3.5vh;
    h2 {
      font-size: 5vh;
    }
  }

  @media (min-width: 900px) {
    font-size: 3.5vh;
    h2 {
      font-size: 5vh;
    }
  }

  @media (min-width: 1024px) {
    font-size: 2.5vh;
    div span {
      font-size: 16px;
    }
    h2 {
      font-size: 3vh;
    }
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    div span {
      font-size: 18px;
    }
    h2 {
      font-size: 5vh;
    }
  }

  @media (max-width: 1200px) and (min-height: 1000px) {
    font-size: 1.8vh;
    h2 {
      font-size: 3vh;
    }
  }

  @media (min-height: 1600px) {
    font-size: 1vh;
    h2 {
      font-size: 1.5vh;
    }
  }
}
