@use 'sass:map';
@use 'sass:math';

@mixin container($height, $flex-direction) {
  height: $height;
  flex-direction: $flex-direction;
}

@mixin divs($bgColorDivLeft, $bgColorDivRight) {
  .leftDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $bgColorDivLeft;
    height: 100%;
    flex: 0 0 30%;
    text-align: center;
    @media (min-width: 1200px) {
      justify-content: flex-start;
    }
  }

  .rightDiv {
    background: $bgColorDivRight;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 0 0 70%;
  }
}

@mixin font-size1 {
  font-size: 2.5vh;
  div span {
    font-size: 18px;
  }

  @media (max-height: 320px) {
    font-size: 3.5vh;
    div span {
      font-size: 16px;
    }
  }

  @media (min-width: 600px) {
    font-size: 3.5vh;
  }

  @media (min-width: 900px) {
    font-size: 3.5vh;
  }

  @media (min-width: 1024px) {
    font-size: 2.5vh;
    div span {
      font-size: 16px;
    }
  }

  @media (min-width: 1200px) {
    font-size: 18px;
    div span {
      font-size: 18px;
    }
  }

  @media (max-width: 1200px) and (min-height: 1000px) {
    font-size: 1.8vh;
  }

  @media (min-height: 1600px) {
    font-size: 1vh;
  }
}

@function clamp-f($min, $max, $min-width: 360, $max-width: 1480, $root-font-size: 16) {
  $slope: math.div(($max - $min), ($max-width - $min-width));

  // Вычисляем пересечение с осью Y
  $y-axis-intersection-px: $min - $slope * $min-width;
  $y-axis-intersection-rem: math.div($y-axis-intersection-px, $root-font-size);

  $val: '#{$y-axis-intersection-rem}rem + #{$slope * 100}vw';

  $min-rem: #{math.div($min, $root-font-size)}rem;
  $max-rem: #{math.div($max, $root-font-size)}rem;

  @return clamp(#{$min-rem}, #{$val}, #{$max-rem});
}

@function clamp-value($base-value, $base-screen-width: 1480, $min-screen-width: 1200, $root-font-size: 16) {
  $scale-factor: math.div($base-value, $base-screen-width);

  $min-px: $scale-factor * $min-screen-width;
  $min-rem: math.div($min-px, $root-font-size);
  $val-vw: $scale-factor * 100;
  $max-rem: math.div($base-value, $root-font-size);

  @return clamp(#{$min-rem}rem, #{$val-vw}vw, #{$max-rem}rem);
}

@function clamp-value-m($base-value, $base-screen-width: 360, $max-screen-width: 500, $min-screen-width: 360, $root-font-size: 16) {
  $min-px: math.div($base-value * $min-screen-width, $base-screen-width);
  $val-vw: math.div($base-value * 100, $base-screen-width);
  $max-px: math.div($base-value * $max-screen-width, $base-screen-width);

  $min-rem: math.div($min-px, $root-font-size);
  $max-rem: math.div($max-px, $root-font-size);

  @return clamp(#{$min-rem}rem, #{$val-vw}vw, #{$max-rem}rem);
}

